body {

    font: 300 65.1% "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
}

h1{
	font-size: 32px;
	color: #fff;
}

h3{
    color: #fff;
    font-size: 24px;
}


.grad{
    background-image: linear-gradient(left top, #333333 14%, #9E9E9E 70%);
    background-image: -o-linear-gradient(left top, #333333 14%, #9E9E9E 70%);
    background-image: -moz-linear-gradient(left top, #333333 14%, #9E9E9E 70%);
    background-image: -webkit-linear-gradient(left top, #333333 14%, #9E9E9E 70%);
    background-image: -ms-linear-gradient(left top, #333333 14%, #9E9E9E 70%);

    background-image: -webkit-gradient(
        linear,
        left top,
        right bottom,
        color-stop(0.14, #333333),
        color-stop(0.7, #9E9E9E)
    );
    background-color: #666666;
    position: relative;
    height: 100%;
    width: 100%;
    margin-top: 5px;
    margin-left: 5px;

}
.button {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background-color:#ededed;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0px #ffffff;
}.button:hover {
     background-color:#ffffff;
 }.button:active {
      position:relative;
      top:1px;
  }